<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>질환정보검색</h1>
    <table border="1">
        <tr>
            <th style="width:50px">운동여부</th>
            <th style="width:1000px">건강상태</th>
            <th style="width:200px">건강일지</th>
            <th style="width:200px">기록날짜</th>
            <th style="width:200px">아이디</th>
        </tr>

        <%for(let i = 0; i < in_row.length; i++){%>
            <tr>
                <td><%=in_row[i].note_workout%></td>
                <td><pre><%=in_row[i].note_health%></pre></td>
                <td><pre><%=in_row[i].note_text%></pre></td>
                <td><pre><%=in_row[i].note_date%></pre></td>
                <td><pre><%=in_row[i].mem_id%></pre></td>
            </tr>
        <%}%>
    </table>
    <a href="http://222.102.104.135:3000/main">메인페이지로</a>
</body>
</html>